@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>I Event Sourced My Brain</h1>            
<div class="wrap">
    <div class="row">
        <div class="span6 offset3">
            <div class="error label label-important" style="display: none">
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="span12">
            <div class="dropdown">
                <select class="emo-sessions">
                    <option>Select a session</option>
                </select>
            </div>
        </div>
    </div>
    <div class="es-zoomer" />
</div>            
        